<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body style="font-family: 'Roboto', sans-serif;">
    <div class="card">
        <div>
            <h1>TEST</h1>
        </div>
        <div class="card-chat-room">
            <div class="card-chat" >
                <ol>
                    <li>
                        a
                    </li>
                    <li>
                        a
                    </li>
                    <li>
                        a
                    </li>
                    <li>
                        a
                    </li>
                    <li>
                        a
                    </li>
                    <li>
                        a
                    </li>
                    <li>
                        a
                    </li>
                    <li>
                        a
                    </li>
                    <li>
                        a
                    </li>
                    <li>
                        a
                    </li>
                    <li>
                        a
                    </li>
                    <li>
                        a
                    </li>
                </ol>
            </div>
            <div class="card-input" >
                <input style="width: 100%;"/><button>SEND</button>
            </div>
        </div>
    </div>
</body>
</html>