<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body style="font-family: 'Roboto', sans-serif;">
    <div class="card">
        <div>
            <h1>TEST</h1>
        </div>
        <div class="card-chat-room">
            <div class="card-chat" >
                <ol id="message-list">
                    <li>
                        a
                    </li>
                </ol>
            </div>
            <div class="card-input" >
                <input style="width: 100%;" id="message" /><button id="messageBtn">SEND</button>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" ></script>
    <script src="/js/chatroomtest.js"></script>
</body>
</html>